body {
	background-color: #2a2735;
	font-family: 'Lato', sans-serif;
	color: #bfacc8;
}

h1 {
	color: #c8c6d7;
	font-family: 'Lobster', cursive;
	font-size: 5em;
}

.pageHeader {
	margin-bottom: 30px;
}

.lengthHeading {
	font-size: 1.2em;
}

.btn, .btn:active, .btn:visited, .btn:focus, .btn:hover, .btn:active:focus {
	background-color: #2a2735 ;
	color: #bfacc8;
	outline: none;
	box-shadow: none;
}

.setTimes {
	font-size: 25px;
	display: inline-block;
	margin-bottom: 50px;
}

.timerWrapper {
	border: solid #783f8e 3px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin: 0 auto;
	cursor: pointer;
}

.timerHeader {
	font-size: 3em;
	text-align: center;
	line-height: 140px;
}
.countdownTimer {
	font-size: 5em;
	color: #c8c6d7;
}

.breakLength {
	margin-left: 7px;
}

.sessionLength {
	margin-left: 20px;
}